.App {
  font-family: sans-serif;
  text-align: center;
}

/*blue bar*/
nav {
  display: flex;
  justify-content: space-around;
  text-align: left;
  min-height: 10vh;
  background: lightskyblue;
  color: black;
}

/*hyperlinks*/
.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.LoginRegiApp {
  background: rgb(135, 250, 154);
  margin: 100px;
}

.logUsername {
  margin-top: 15px;
  margin-bottom: 10px;
}

.logPassword {
  margin-bottom: 10px;
}

.regiUser {
  margin-top: 15px;
  margin-bottom: 10px;
}

.regiPass {
  margin-bottom: 10px;
}

.login {
  margin-bottom: 15px;
}

.fuelquotehistory-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  font-size: 32px;
}

th {
  background-color: rgb(173, 188, 197);
}

td {
  background-color: rgb(228, 235, 240);
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

form * {
  font-size: 28px;
}
